@media screen and (max-width:1400px) {

}

@media screen and (max-width:1200px) {
    .hero_image {
        width: 450px;

    }
    .header {
        margin-bottom: 50px;
    }
    
}

@media screen and (max-width:992px) {
    
    .header {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (max-width:768px) {
    .nav-wrapper {
        display: none;  
    }

    .nav-wrapper-mobile {
        display:block;
    }

    .hero {
        flex-direction: column-reverse;
    }

    .hero_title {
        text-align: center;
    }
    .mobile_stores {
        justify-content: center;

    }
    .header {
        margin-bottom: 0px;
    }

}

@media screen and (max-width:576px) {
    
}